[run]
omit =
    test/*
    */test/*
    */tests/*
    backend/test/*
    */backend/test/*
    */test/*.py
    test/*.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    if __name__ == .__main__.: 
